# dependencies
node_modules/

# build output
dist/
.astro/

# generated types
.env
.env.production
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo

# Extracted video frames
public/frames/
public/frames-mobile/
